.info {
    font-size: var(--normal-font-size);
    max-width: 380px;
    background-color: #ccc;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 0px 10px;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}