.private_div {
    display: inherit;
    gap: 10px;
    flex-direction: column;
    border: 2px solid #3f3f3f86;
    max-width: 380px;
    border-radius: 5px;
    padding: 5px;
    /* margin: 40px auto; */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

.h2 {
  margin: 0px;
}

.link {
    background-color: var(--purple);
    color: #fff;
    padding: 3px;
    border-radius: 3px;
    text-align: center;
}

.p {
    text-align: center;
}